.card {
    display: flex;
    flex-direction: column; /* По умолчанию карточка в столбик для мобильных */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.images {
    display: flex;
    position: relative;
    width: 100%;  /* Make sure it spans full width */
    height: 100%; /* Set a desired height */
    overflow: hidden; /* Hide overflow */
}

.main-image {
    position: relative;
    width: 70%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the container */
}

.images img {
    width: 100%; /* Адаптивная ширина изображений */
    height: 100%;
}

.thumbnails {
    flex-direction: column;
    width: 30%;
}

.thumbnail {
    position: relative;
}

.card-content {
    padding: 10px; /* Уменьшенные отступы для мобильных */
}

.card-content h3 {
    margin: 0;
    font-size: 1.5em; /* Размер заголовка */
}

.card-content p {
    margin: 5px 0;
    font-size: 0.9em; /* Уменьшенный размер текста для мобильных */
}

.rooms-list {
    max-height: 150px; /* Максимальная высота для прокручиваемого списка */
    overflow-y: auto; /* Прокрутка для списка помещений */
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1; /* Ensure they are above the image */
    border-radius: 50%; /* Round buttons */
}

.arrow.left {
    left: 10px; /* Position to left */
}

.arrow.right {
    right: 10px; /* Position to right */
}

/* Other CSS styles remain unchanged */


/* Адаптационные стили для экранов от 768px и выше */
@media (min-width: 768px) {
    .main-image {
        height: 400px; /* Уменьшаем высоту для планшетов и мобильных */
    }
    
    .card {
        flex-direction: row; /* Горизонтальное расположение для больших экранов */
        margin: 10px;
    }

    .images {
        width: 500px; /* Фиксированная ширина для изображений на больших экранах */
        border-right: 1px solid #ddd;
    }

    .card-content {
        padding: 20px; /* Увеличенные отступы для больших экранов */
    }

    .card-content h3 {
        font-size: 1.75em; /* Увеличенный размер заголовка для больших экранов */
    }

    .card-content p {
        font-size: 1em; /* Нормальный размер текста для больших экранов */
    }
}

@media (max-width: 480px) {
    .main-image {
        height: 150px; /* Уменьшаем высоту для мобильных */
    }
}