/* стили для стрелочек */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10; /* Ensure they are above the image */
    border-radius: 50%; /* Round buttons */
    transition: background-color 0.3s;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.zoom-button {
    position: absolute;
}

.zoom-button {
    top: 0%;
    right: 0;
    transform: translateY(-10%);
    z-index: 10;
    cursor: pointer;
    padding: 10px;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.arrow.arrow-left 
{
    position: absolute;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.arrow.arrow-right {
    position: absolute;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.arrow-left {
    left: 0; /* Position to left */
}

.arrow-right {
    right: 0; /* Position to right */
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 1);
}