/* стили для карточек офисных зданий */

.card {
    display: flex;
    flex-direction: column; /*По умолчанию карточка в столбик для мобильных */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.card-content {
    padding: 10px; /* Уменьшенные отступы для мобильных */
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.card-content h3 {
    margin: 0;
    font-size: 1.5em; /* Размер заголовка */
}

.card-content p {
    margin: 5px 0;
    font-size: 0.7em; /* Уменьшенный размер текста для мобильных */
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); /* Автоматически подстраивает количество колонн */
    gap: 20px; /* Отступы между карточками */
}

/* Адаптационные стили для экранов от 768px и выше */
@media (min-width: 768px) {
    
    .card {
        flex-direction: row; /* Горизонтальное расположение для больших экранов */
    }

    .card-content {
        padding: 20px; /* Увеличенные отступы для больших экранов */
    }

}

/* Room */

.room-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 15px 6px 15px 15px;
}

.room-content-header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    /* width: calc(100% - 40px); */
}

.room-content-header-left {
    width: 50%;
}

.room-content-header-right {
    width: 50%;
}

.room-list-container {
    flex-shrink: 0;
    width: 280px;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.building-container {
    padding: 15px 6px 15px 15px;
}

.building-content {
    position: relative;
    flex-shrink: 0;
    width: 260px;
    max-width: 100%;
    line-height: 1.3;
}

.link-to-buildingOffice {
    text-decoration: none;
    text-decoration-color: rgb(63, 148, 23);
    color:#2a2d33;
}

.link-to-buildingOffice:hover, .link-to-buildingOffice:focus, .link-to-buildingOffice:active {
    text-decoration-color: darkgreen;
    outline: none;
    color: #2a2d33;
}

.building-class-wrapper {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 12px;
}

.building-class-item {
    padding: 2px 8px;
    border-right: 1px solid #ccc;
    /* white-space: nowrap; */
    margin: auto;
}

.building-class-item:last-child {
    border-right: none;
    font-weight: bold;
}

.building-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    /* justify-content: center; */
}

.building-class-wrapper-room {
    overflow: visible;
    margin-bottom: 0;
}