.building-office-container custom-container {
  display: flex;
}

.objects-params {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  padding-left: 12px;
}

.objects-sorting-list {
  display: flex;
  align-items: center;
}

.objects-sorting-title {
  margin-right: 15px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.objects-sorting-select  {
  border-radius: 32px;
}

.objects-sorting-select {
  box-sizing: content-box;
  display: flex;
  position: relative;
  width: 100%;
  text-align: left;
 
}

.objects-switch {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.objects-switch-button {
  position: relative;
  display: flex;
  margin-left: 10px;
}

/* by default */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
